In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
chunks = pd.read_csv('/Users/maguoyi/Downloads/bosch-production-line-performance/train_categorical_to_num.csv.zip' 
                       ,chunksize=50000)

In [12]:
traindata = None

In [ ]:
numerical = pd.read_csv('/Users/maguoyi/Downloads/bosch-production-line-performance/train_numeric.csv.zip',
                             usecols=["Id","Response"],chunksize=50000,low_memory=False)

In [5]:
chunk_size = 10000

# Create an empty list to store the merged chunks
merged_chunks = []

# Iterate over the data in chunks for both dataframes
for chunk1, chunk2 in (pd.read_csv('/Users/maguoyi/Downloads/bosch-production-line-performance/train_categorical_to_num.csv.zip', chunksize=chunk_size), pd.read_csv('/Users/maguoyi/Downloads/bosch-production-line-performance/train_numeric.csv.zip', usecols=["Id","Response"], chunksize=chunk_size)):
    # Merge the chunks based on the "id" column
    merged_chunk = pd.merge(chunk1, chunk2, on='Id')

    merged_chunks.append(merged_chunk)

# Concatenate all the merged chunks into a single dataframe
merged_data = pd.concat(merged_chunks)

merged_data.head()

NameError: name 'pd' is not defined

In [6]:
import pandas as pd
from tqdm import tqdm
from itertools import zip_longest

chunk_size = 10000
merged_chunks = []

# Read the data in chunks for both dataframes
data1_chunks = pd.read_csv('/Users/maguoyi/Downloads/bosch-production-line-performance/train_categorical_to_num.csv.zip', chunksize=chunk_size)
data2_chunks = pd.read_csv('/Users/maguoyi/Downloads/bosch-production-line-performance/train_numeric.csv.zip', usecols=["Id","Response"], chunksize=chunk_size)

total_chunks = 119

# Create a tqdm progress bar with a description
progress_bar = tqdm(total=total_chunks, desc="Merging Chunks")

for chunk1, chunk2 in zip_longest(data1_chunks, data2_chunks):
    # Merge the chunks based on the "Id" column
    merged_chunk = pd.merge(chunk1, chunk2, on='Id')

    merged_chunks.append(merged_chunk)

    # Update the progress bar
    progress_bar.update(1)

    # Calculate and display the percentage progress
    progress_bar.set_postfix({"Progress": "{:.2f}%".format(progress_bar.n / total_chunks * 100)})

# Close the progress bar
progress_bar.close()

Merging Chunks: 100%|███████| 119/119 [07:38<00:00,  3.85s/it, Progress=100.00%]

In [7]:
data = pd.concat(merged_chunks)

In [8]:
data.head()

,Id,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,...,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240,Response
0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [9]:
import xgboost as xgb

In [ ]:
chunk_size = 10000
import numpy as np
chunks = np.array_split(data, 119)

In [ ]:
model = xgb.XGBClassifier(n_estimators=30)

In [ ]:
ctr=0
for chunk in chunks:
    print(type(chunk))
    model.fit(chunk.drop(['Id','Response'],axis=1),chunk['Response'])
    ctr+=1
    print(ctr)

In [ ]:
fig, ax = plt.subplots(figsize=(12,18))
xgb.plot_importance(model,ax =ax,max_num_features=40)

In [ ]:
np.set_printoptions(suppress
                    =True)

In [ ]:
imp = model.feature_importances_

In [ ]:
name =model.get_booster().feature_names

In [ ]:
pd.DataFrame({'feat':name,'impo':imp}).sort_values(by='impo',ascending=False)['feat'].head(35).values